<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <cpn :cmessage="message" ref="aaa"></cpn>
        <br>
        <btn-component @item-click="btnComponentClick"></btn-component>
        <br>
        <btn-component @item-click="btnComponentClick">
            <div>
                <br>
                <h2>我代替了插槽的位置</h2>
            </div>
        </btn-component>
        <btn-component @item-click="btnComponentClick">
            <div slot="bottom">
                <h2>我代替了具名插槽的位置</h2>
            </div>
        </btn-component>

        <btn-component @item-click="btnComponentClick">
            <template slot-scope="slot">
                <!-- slot.data 获取子组件的数据 -->
                <br>
                <span v-for="item in slot.abc">
                    {{item}}
                </span>
            </template>
        </btn-component>
        <!--驼峰需要用-间隔-->
    </div>

    <template id="cpn">
        <div>
            <h2>我是父组件传递给子组件的数据{{cmessage}}</h2>
            <h2>当前计数：{{counter}}</h2>
            <button @click="increment">+</button>
            <button @click="decrement">-</button>
        </div>
    </template>

    <template id="buttonComponent">
        <div>
            <button v-for="item in categories" @click="btnClick(item)">
                {{item.name}}
            </button>
            <slot :abc="pLanguages">
                <br>
                <h2>我是插槽的默认值</h2>
            </slot> <!-- 插槽位置 可任意添加组件-->
            <slot name="bottom">

            </slot> <!-- 我是具名插槽-->
        </div>
    </template>

    <script>
        const cpn = {
            template: "#cpn",
            props: {
                cmessage: {
                    // required:true, //必传项
                    type: String,
                    default: ''
                }
            },
            data() {
                return {
                    counter: 0
                }
            },
            methods: {
                increment() {
                    console.log(this.$parent);//获取父组件
                    console.log(this.$root);//获取根组件
                    this.counter++;
                },
                decrement() {
                    this.counter--;
                }
            },
        }

        const btnComponent = {
            template: "#buttonComponent",
            data() {
                return {
                    categories: [
                        { id: 'aaa', name: '热门土建' },
                        { id: 'bbb', name: '手机数码' },
                    ],
                    pLanguages:[
                        '呵呵哒',
                        '什么鬼'
                    ]
                }
            },
            methods: {
                btnClick(item) {
                    this.$emit('item-click', item);//向父组件传递事件
                }
            },
        }

        const app = new Vue({
            el: "#app",
            data: {
                message: "2aaaa1"
            },
            components: {
                cpn,
                btnComponent
            },
            methods: {
                btnComponentClick(item) {
                    console.log(this.$children);//获取所有子组件
                    console.log(this.$refs.aaa.cmessage);//给子组件定义别名获取子组件
                }
            },
        })
    </script>

</body>

</html>